
  * {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  
  img {
    max-width: 100%; }

  input,
  textarea {
    text-decoration: none;
    outline: none; }

  html, body {
    height: 100%; }
  
  p {
    margin-bottom: 0px;
    width: 100%; }
  
  .no-padding {
    padding: 0px; }
  
  .no-margin {
    margin: 0px; }
  
  ::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important; }
  
  .container-fluid {
    padding: 0px; }
  
h3{
    font-family: "mouse-500", Arial, Helvetica, sans-serif; }
  
  body {
    background-color: #f7f7ff !important;
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    color: #6A6A6A; }
     
  .btn-info {
    background-color: #4f6dcd;
    border-color: #4f6dcd; 
    color:white !important ;}
   
    .btn-info:hover {
      background-color: #4f6dcd !important;
      border-color: #4f6dcd !important; }
    .btn-info:active {
      background-color: #4f6dcd !important;
      border-color: #4f6dcd !important; }
    .btn-info:focus {
      background-color: #4f6dcd !important;
      border-color: #4f6dcd !important;
      box-shadow: none !important; }
  
  .btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }
  
  .form-control:focus {
    box-shadow: none !important;
    border: 2px solid  #00a8df; }
  
 
  .form-control:focus {
    box-shadow: none;
    border: 2px solid #4f6dcd !important; }
  
  .form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px; }
    .form-control:focus {
      background-color: #FFF;
      border-color: #CCC; }
  
  /* ===================================== Header CSS ================================== */
  input,
  input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3; }
  
  .h-100 {
    height: 100%;
    width: 100%; }
  
  .full-bg {
    background-image: url('../images/1249621.jpg');
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    background-size: cover; }
    .full-bg .bg-layer {
      margin: auto; }
    .full-bg h3 {
      color: #FFF;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 32px;
      margin-top: -20px; }
    .full-bg .form-control {
      background-color: #FFF;
      border-radius: 0px;
      padding: 8px;
      font-size: 20px; }
    .full-bg p {
      width: 100%;
      text-align: right;
      color: #FFF;
      text-decoration: underline;
      font-weight: 600; }
    .full-bg .btn {
      width: 100%;
      margin-top: 30px;
      padding: 8px;
      font-weight: 600; }


  