.navbar {
    width: 40%;
    margin: 1% 0 0 0;
    display: inline-block;
    font-size: large;
}
.container {
    margin-left: 30%;
}
#logo {
    display: inline-block;
    height: auto;   
}

#table_client, #table_bankacc, #table_trans
{
    margin-top:100%;
    width:70%;
    margin:2% auto auto auto;
}

.actions{
  margin-left: 10%;
}

#detalji {
    color: white;
}
#modalclientback {
    background-image: url("../images/newclient.v1.jpg");
    padding-top: 190px;
}
#formNewClient {
    margin-left:5%;
    margin-top: 3%;
    margin-bottom: 8%;
}
#formClient {
    margin-left:5%;
    margin-right: 5%;
}
#modalclientDetails, #modalEditClient, #modalClientAddTrans, #modalAccDetail, #modalEditBanking, #modalTranDetail {
    background-image: url("../images/panorama-cityscape-city-ultrawide-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 190px;
}
#formClientDetailAc, #formClientEditAcc, #modalClientAddTranAc, #modalAccDetailAc, #modalEditBankingAcc, #modalTranDetailAc {
    margin-bottom: 2%;
}

#acc_detail_name {
    margin:2%;
}
#acc_detail {
    margin:2%;
}
#login_body{
    background-image: url('../images/1249621.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.5);    
}

#btn-new
{
    margin: 2% 2% 2% 2%;
}

.btn{
    display:inline-block;
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: rgb(103, 128, 159, 1);
    text-align:center;
    transition: all 0.2s;
    }
.btn:hover{
    background-color: rgb(103, 128, 159, 1);
}
@media all and (max-width:30em){
     .btn{
display:block;
    margin:0.2em auto;
    }
}
    